//		*******************************
//		*	@david_werbrouck on Twitter	*																																*
//		*******************************

$color:         #303538;
$hover-color:   #3B4145;
$lighter-color: #727D85;
$current-color: #A9BAC4;
$size:          30px;

:root {
  margin: $size;
  font-family: helvetica Neue, helvetica, sans-serif;
}

nav {
  display: flex;
}

a {
  display: inherit;
  align-items: center;
  padding-left: $size;
  color: #fff;
  text-decoration: none;
  background: $color;
  -webkit-tap-highlight-color: transparent;
  
  &:not(:first-child):before, 
  &:not(:last-child):after {
    display: block;
    border: $size solid transparent;
    border-right-width: 0;
    content: '';
  }

  &:not(:first-child):before {
    transform: translateX(1px - $size);
    border-left-color: $lighter-color;
  }
  
  &:not(:last-child):after {
    z-index: 1;
    transform: translateX($size);
    border-left-color: $color;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
    padding-right: $size;
  }

  &:hover {
    background: $hover-color;
    &:after {
      border-left-color: $hover-color;
    }
  }
}

span {
  font-size: .9rem;
  pointer-events: none;
  &:before {
    display: block;
    margin-bottom: 2px;
    font-size: .65rem;
    color: $lighter-color;
    content: attr(title);
   }
}

.current, 
.current:hover {
  color: darken($current-color, 55%);
  background: $current-color;
  
  &:not(:first-child):before {
    border-left-color: $current-color;
  }
  
  &:not(:last-child):after {
    border-left-color: $current-color;
  }
  
  & + a {
    &:not(:first-child):before {
      border-left-color: $current-color;
    }
  }
  
  span:before {
    color: darken($current-color, 40%);
  }
}
