//	**********************
//	*	 @david_werbrouck  *
//	**********************

$main-size:  34px;
$main-color: #1d1d1f;

$primary: lighten($main-color, 25%);
$secondary:lighten($main-color, 60%);
$fog-hover: lighten($main-color, 80%);
$fog: lighten($main-color, 85%);

:root {
  margin: $main-size;
  font-family: helvetica Neue, sans-serif;
}

nav {
  display: grid;
  grid: 1fr / auto-flow auto;
}

a {
  -webkit-tap-highlight-color: transparent;
  display: grid;
  grid: 1fr / #{$main-size} auto #{$main-size};
  align-items: center;
  border: 1px solid $secondary;
  border-width: 1px 0;
  text-decoration: none;
  background: $fog;

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-width: 1px 0 1px 1px;
    grid: 1fr / auto #{$main-size};
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
    border-width: 1px 1px 1px 0;
    grid: 1fr / #{$main-size} auto;
  }

  &:not(:first-child):before, 
  &:not(:last-child):after {
    display: block;
    border: $main-size solid transparent;
    border-right-width: 0;
    content: '';
  }

  &:not(:first-child):before {
    border-left-color: $secondary;
  }
  
  &:not(:last-child):after {
    transform: translateX($main-size - 1px);
    border-left-color: $fog;
  }
}

span {
  padding: 0 20px 0 30px;
  line-height: 1.2rem;
  color: $secondary;
  &:first-line {
    color: $secondary;
    font-weight: 700;
    font-size: .85rem;
   }
}

.current {
  background: $primary;
  span {
    color: $secondary;
    &:first-line {
      color: white;
    }
  }
  &:not(:first-child):before {
    border-left-color: $primary;
  }
  &:not(:last-child):after {
    border-left-color: $primary;
  }
  & + a:not(:first-child):before {
    border-left-color: $primary;
  } 
}

a:not(.current):hover, 
.done {
  span {
    color: $primary;
    &:first-line {
      color: $main-color;
    }
  }
}

a:not(.current):hover {
  background: $fog-hover;
  &:not(:last-child):after,
  &:not(:first-child):before {
    border-left-color: $fog-hover;
  }
  & + a:not(.current):not(:first-child):before  {
    border-left-color: $fog-hover;
  }
  .current + & {
    &:not(:first-child):before {
      border-left-color: initial;
    }
  }
}